<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Inequality &amp; Mass Transit in the Bay Area</title>
  <link href="./assets/css/bootstrap.css" rel="stylesheet">
  <link href="./assets/css/site.css" rel="stylesheet">
  <script src="./assets/libs/jquery.1.9.1.min.js"></script>
  <script src="./assets/libs/bootstrap/bootstrap.min.js"></script>
  <script src="./assets/libs/d3/d3.min.js"></script>
  <script src="./assets/libs/topojson.v1.min.js"></script>
  <script src="./assets/libs/angular/angular.min.js"></script>
  <script src="./assets/js/app.js"></script>
</head>
<body class="embeddable" data-ng-controller="AppCtrl">

    <div class="row" data-ng-show="agencies">
      <div class="span3" id="choices" style="border-right: 1px solid #eee;">
        <!-- MUNI -->
        <h5 style="margin-top: 0; margin-bottom: 5px;">MUNI</h5>
        <div class="agency-container">
          <div class="btn-group dropdown muni-routes">
            <div class="muni-line">
              <a href="#" data-ng-click="displayRoute('MUNI', '1094')" style="background: #f8a637">J</a>
            </div>
            <div class="muni-line">
              <a href="#" data-ng-click="displayRoute('MUNI', '1196', {'color_override':'#529cbb'})" style="background: #529cbb">K</a>
            </div>
            <div class="muni-line">
              <a href="#" data-ng-click="displayRoute('MUNI', '1198')" style="background: #92278f">L</a>
            </div>
            <div class="muni-line">
              <a href="#" data-ng-click="displayRoute('MUNI', '1199')" style="background: #028753">M</a>
            </div>
            <div class="muni-line">
              <a href="#" data-ng-click="displayRoute('MUNI', '1093')" style="background: #00529a">N</a>
            </div>
            <div class="muni-line">
              <a href="#" data-ng-click="displayRoute('MUNI', '1196',{'color_override':'#ed1c24'})" style="background: #ed1c24">T</a>
            </div>

 <a id="muni-more" class="btn btn-link btn-small" data-toggle="dropdown" data-target="#" href="/">
           More <b class="caret"></b>
            </a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="muni-more">
              <li data-ng-repeat="(routeId, route) in (agencies['MUNI'].routes | orderBy:'name')">
                <a href="#" data-ng-click="displayRoute('MUNI', routeId)" data-ng-hide="route.important">
                  {{route.name}}
                </a>
              </li>
            </ul>

          
            
          </div>
        </div>

        <!-- BART -->
        <h5>BART</h5>
        <div class="agency-container">
          <ul class="agency-routes nav nav-tabs nav-stacked">
            <li data-ng-repeat="(routeId, route) in agencies['BART'].routes">
              <a href="#" data-ng-click="displayRoute('BART', routeId)">
                <span class="swatch" data-ng-style="{'background-color': route.color}"></span>
                {{route.name}}
              </a>
            </li>
          </ul>
        </div>


        <h5>CalTrain</h5>
        <div class="agency-container">
          <ul class="agency-routes nav nav-tabs nav-stacked">
            <li>
              <a href="#" data-ng-click="displayRoute('CalTrain', 'ct_local_20121001')">
                <span class="swatch" style="background-color: white"></span> 
                Local</a>
            </li>
            <li>
              <a href="#" data-ng-click="displayRoute('CalTrain', 'ct_limited_20121001')">
                <span class="swatch" style="background-color: yellow"></span> 
                Limited</a>
            </li>
          <li>
              <a href="#" data-ng-click="displayRoute('CalTrain', 'ct_bullet_20121001')">
                <span class="swatch" style="background-color: red"></span> 
                Bullet</a>
            </li>

          </ul>
        </div>

      </div>

      <div class="span6">
        <div id="graph">
          <div id="instructions"><p>&larr; Choose a line to get started!</p></div>
        </div>
      </div>
    </div><!-- /row -->


</body>
</html>