<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Inequality &amp; Mass Transit in the Bay Area</title>
  <link href="./assets/css/bootstrap.css" rel="stylesheet">
  <link href="./assets/css/site.css" rel="stylesheet">
  <script src="./assets/libs/jquery.1.9.1.min.js"></script>
  <script src="./assets/libs/bootstrap/bootstrap.min.js"></script>
  <script src="./assets/libs/d3/d3.min.js"></script>
  <script src="./assets/libs/topojson.v1.min.js"></script>
  <script src="./assets/libs/angular/angular.min.js"></script>
  <script src="./assets/js/app.js"></script>
</head>
<body>
  <div class="container" data-ng-controller="AppCtrl">
    <div class="top row">
      <div class="span8">
        <h2>Inequality &amp; Mass Transit in the Bay Area</h2>
        <p class="byline">an experiment by <a href="http://twitter.com/dangrover">@dangrover</a> and <a href="http://twitter.com/mikez">@mikez</a></p>
      </div>
      <div id="share">
        <!-- facebook gizmo -->
        <div id="fb-root"></div>
          <script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/all.js#xfbml=1&appId=196057697206036";fjs.parentNode.insertBefore(js,fjs)})(document,"script","facebook-jssdk");
          </script>
          <div class="fb-like" data-send="false" data-layout="button_count" data-width="130"
          data-show-faces="false">
        </div>

        <a href="https://twitter.com/share" class="twitter-share-button" data-via="DanGrover">Tweet</a>
        <script>
        !function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
          p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, 'script', 'twitter-wjs');
        </script>

        <iframe src="http://ghbtns.com/github-btn.html?user=dangrover&amp;repo=sf-transit-inequality&amp;type=watch&amp;count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="70" height="20">
        </iframe>
      </div>
    </div>

    <div class="row">
      <div class="span8" id="intro">
        <p><a href="http://newyorker.com/sandbox/business/subway.html">A recent feature in <i>The New Yorker</i></a>  
          juxtaposed New York City's subway stops with their residents' incomes. Like NYC, San Francisco has people of <a href="http://www.sfgate.com/realestate/article/RICH-CITY-POOR-CITY-Middle-class-neighborhoods-2494307.php">both extreme poverty and wealth</a>, often living toe-to-toe. We wondered how those graphs would look in our neck of the woods. The results show the Bay Area's economic inequality and its relationship with transit and urban form.
        </p>
        <br/>
      </div>
    </div>

    <div class="row" data-ng-show="agencies">
      <div class="span3" id="choices" style="border-right: 1px solid #eee;">
        <!-- MUNI -->
        <h5 style="margin-top: 0; margin-bottom: 5px;">MUNI</h5>
        <div class="agency-container">
          <div class="btn-group dropdown muni-routes">
            <div class="muni-line">
              <a href="#" data-ng-click="displayRoute('MUNI', '1094')" style="background: #f8a637">J</a>
            </div>
            <div class="muni-line">
              <a href="#" data-ng-click="displayRoute('MUNI', '1196', {'color_override':'#529cbb'})" style="background: #529cbb">K</a>
            </div>
            <div class="muni-line">
              <a href="#" data-ng-click="displayRoute('MUNI', '1198')" style="background: #92278f">L</a>
            </div>
            <div class="muni-line">
              <a href="#" data-ng-click="displayRoute('MUNI', '1199')" style="background: #028753">M</a>
            </div>
            <div class="muni-line">
              <a href="#" data-ng-click="displayRoute('MUNI', '1093')" style="background: #00529a">N</a>
            </div>
            <div class="muni-line">
              <a href="#" data-ng-click="displayRoute('MUNI', '1196',{'color_override':'#ed1c24'})" style="background: #ed1c24">T</a>
            </div>

 <a id="muni-more" class="btn btn-link btn-small" data-toggle="dropdown" data-target="#" href="/">
           More <b class="caret"></b>
            </a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="muni-more">
              <li data-ng-repeat="(routeId, route) in (agencies['MUNI'].routes | orderBy:'name')">
                <a href="#" data-ng-click="displayRoute('MUNI', routeId)" data-ng-hide="route.important">
                  {{route.name}}
                </a>
              </li>
            </ul>

          
            
          </div>
        </div>

        <!-- BART -->
        <h5>BART</h5>
        <div class="agency-container">
          <ul class="agency-routes nav nav-tabs nav-stacked">
            <li data-ng-repeat="(routeId, route) in agencies['BART'].routes">
              <a href="#" data-ng-click="displayRoute('BART', routeId)">
                <span class="swatch" data-ng-style="{'background-color': route.color}"></span>
                {{route.name}}
              </a>
            </li>
          </ul>
        </div>


        <h5>CalTrain</h5>
        <div class="agency-container">
          <ul class="agency-routes nav nav-tabs nav-stacked">
            <li>
              <a href="#" data-ng-click="displayRoute('CalTrain', 'ct_local_20121001')">
                <span class="swatch" style="background-color: white"></span> 
                Local</a>
            </li>
            <li>
              <a href="#" data-ng-click="displayRoute('CalTrain', 'ct_limited_20121001')">
                <span class="swatch" style="background-color: yellow"></span> 
                Limited</a>
            </li>
          <li>
              <a href="#" data-ng-click="displayRoute('CalTrain', 'ct_bullet_20121001')">
                <span class="swatch" style="background-color: red"></span> 
                Bullet</a>
            </li>

          </ul>
        </div>

      </div>

      <div class="span6">
        <div id="graph">
          <div id="instructions"><p>&larr; Choose a line to get started!</p></div>
        </div>
      </div>
    </div><!-- /row -->

    <div class="row" id="bottom">
      <div class="span6">
        <h6>Methodology</h6>
        <p>Stop and route information came from their respective agencies' <a href="https://developers.google.com/transit/gtfs/">GTFS</a> feeds. Income data was gathered from the 2010 US Census, via <a href="http://www.census.gov/developers/">their API</a>, using verbatim the value from the single census tract where each stop is located.</p>
        <p>In some instances, the stops lie on the boundaries of different tracts, and an improved model might produce a weighted average of all the tracts each stop serves.</p>
        <p>Have ideas to make this better, or want to try this with your city? <a href="http://github.com/dangrover/sf-transit-inequality">Fork the project</a>!</p>
      </div>
    </div>
  </div><!-- /container -->

  <div id="map">
    <svg width="100%" height="400"></svg>
    <div id="bottom-gradient"></div>
  </div>
</body>
</html>
