body {
    padding-top: 20px;
    background: #eee;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    border: #ccc 1px solid;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

path.data-line {
    stroke-width: 4;
    fill: none;
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
    filter: drop-shadow( -5px -5px 5px #000
            );
 /* Same syntax as box-shadow */
}

p {
    font-family: Georgia, serif;
}

.axis line, .axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Georgia, serif;
    font-size: 11px;
}

#graph svg {
    overflow: visible;
}

.tooltip {
    background: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

.nav-stacked a {
    font-size: 11px;
    height: 10px;
    padding: 0;
}

.swatch {
    width: 15px;
    height: 15px;
    border: #333 1px solid;
    border-radius: 2px;
    display: block;
    float: left;
    vertical-align: middle;
    margin-right: 5px;
}