body {
    padding:15px;
    background: #fff;
    margin-bottom:40px;
}

.container{
    margin: 0 auto;
    max-width: 800px;
}

.top{
    margin-bottom:36px;
}

.top h2{
    color:#444;
    text-shadow: #fff 0 1px 0;
}

.top p{
   font-size:18px;
}


p.byline{
    font-size:11px;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    color: #444;
}

#instructions{
    height:300px;
    width:100%;
    text-align: center;
    padding-top:100px;
}

#instructions p{
    font-size: 18px;
}

#graph h3{
    padding-left: 28px;
    margin:0;
}

.container {

}

path.data-line {
    stroke-width: 4;
    fill: none;
}

path.route-line{
    stroke-width: 2;
    fill: none;
}

#intro p{
   font-size:14px;
   line-height: 26px;
}

p {
    font-family: Georgia, serif;
}

.axis line, .axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Helvetica, sans-serif;
    font-size: 9px;
}

div svg {
    overflow: visible;
}

#graph{
    padding-left:20px;
    z-index:6;
}


#choices h4{
    margin-top:0;
}
.y-axis-label{
    font-size:10px;
    fill: #666;
}

#tooltip {
    border: #ccc 1px solid;
    position: fixed;
    visibility: hidden;
    border-radius: 4px;
    padding: 4px;
    background: white;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
    z-index: 10;
    font-size: 11px;
}

.nav-stacked > li > a {
    font-size: 11px;
    padding-top:2px;
    padding-bottom:1px;
    padding-right:5px;
    padding-left:5px;
}

.swatch {
    width: 12px;
    height: 12px;
    border: #999 1px solid;
    border-radius: 2px;
    display: block;
    float: left;
    vertical-align: middle;
    margin-right: 5px;
    box-shadow: #fff 0 1px 0;
    position:relative;
    top:2px;
}

.muni-routes .btn-small{
    padding: 2px 1px;
}

.muni-line a {
    background: red;
    border-radius: 10px;
    color: white;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    width:20px;
    line-height: 20px;
    margin-right: 2px;
    margin-left:2px;
    text-align: center;
    text-shadow: #000 0 1px 0;
    box-shadow: #fff 0 1px 0;
}

.muni-line a:hover {
    text-decoration: none;
}

.agency-routes {
    clear: both;
}

div#map{
    width:525px;
    height:400px;
    position:absolute;
    top:0;
    right:0;
    overflow:hidden;
    z-index: -100;
}

#map #bottom-gradient{
    background: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
        ); 
    width:300px;
    height:110px;
    position:absolute;
    bottom:0;
    right:0
}

#map .landmass{
    fill:#e9e9e9;
}

#map circle.stop-marker{
    stroke: black;
}

#bottom{
    border-top: #eee 1px solid;
    margin-top:10px;
}

#bottom p{
    font-size:10px;
    line-height:16px;
}

#share{
    width:300px;
    position:absolute;
    right:320px;
    top:74px;
}
#share .fb-like{
    margin-right:15px;
}